/* scrollbar cho Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #f8f8f8; /* màu nền track gần trắng */
    border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.6); /* ghi nhạt, mờ 60% */
    border-radius: 4px;
    border: 1px solid #f8f8f8;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: rgba(200, 200, 200, 0.8); /* hover đậm hơn 80% */
}

/* scrollbar cho Firefox */
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgba(200, 200, 200, 0.6) #f8f8f8; /* thumb color | track color */
}
