
.register-card {
    background-color: #ffffff;
    padding: 3rem; 
    border-radius: 16px; 
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08); 
    width: 100%;
    max-width: 420px; 
    text-align: center;
}


.register-title {
    font-size: 2rem; 
    font-weight: 600;
    color: #333;
    margin-bottom: 2.2rem; 
}


.forgot-password {
    display: block;
    text-align: left;
    margin-bottom: 2.2rem; 
    font-size: 1rem; 
    color: #4caf50;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #388e3c;
}


.login-link {
    margin-top: 2rem; 
    font-size: 1rem; 
    color: #555;
}

.login-link a {
    color: #4caf50;
    font-weight: 500;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
    color: #388e3c;
}
