.input-group {
    position: relative;
    margin-bottom: 1.2rem;
}

.input-group input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #555;
    transition: border-color 0.3s;
}

.input-group input.has-icon {
    padding-left: 2.5rem;
}

.input-group input::placeholder {
    color: #aaa;
}

.input-group input:focus {
    outline: none;
    border-color: #43b949;
}

.input-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2rem;
    pointer-events: none;
}

.input-icon-right {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2rem;
    cursor: pointer;
}
